body {
  margin: 0px;
}

#main {
  width: 100%;
  border: 1px solid green;
  background: url("img/smallRainbow.png") repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile {
  display: none;
}

#container {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.90);
  height: 100%;
}

#logo {
  width: 120px;
  height: 120px;
}

#insta {
  width:100px;
  height:100px;
}

#store {
  margin-top: 30px;
  width: 100%;
}

#follow {
  text-align: center;
}

.bfPost {
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  font-family: "Arial Black";
}

.text h1 {
  margin: 0;
  margin-left: 5px;
}

.insta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.insta div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insta div h2 {
  margin: 0;
}

.item {
  width: 99%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 10px;
}

.left, .center, .right {
  width: 33%;
  margin: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  text-align: center;
}

.center {
  display: flex;
  text-align: justify;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

@media (max-width: 815px) {
  #mobile {display: none;}
  #desktop {display: flex;}
  .header {
    flex-direction: column;
  }
  .bfPost {
    width:100px;
    height:100px;
  }

  .center {
    text-align: center;
  }
}

@media (max-width: 570px) {
  #mobile {display: none;}
  #desktop {display: flex;}
  .item {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  #mobile {display: none;}
  #desktop {display: flex;}
  #logo {
    width: 70px;
    height: 70px;
  }
  #insta {
    width: 50px;
    height: 50px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
}
